@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: black;
    color: white;
}

.left{
    width: 25vw;
    padding: 10px;
}
.right{
    width: 75vw;
}
.home{
}

.home ul li{
    display: flex;
    width: 14px;
    list-style: none;
    gap:11px;
    padding-top: 14px;
    font-weight: bold;
}
.bg-black{
    background-color: black;
    color: white;
}
.heading{
    display: flex;
    width: 100%;
    gap:11px;
    padding-top: 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
    padding: 23px 14px;
}
.heading img{
    width: 25px;
}

.library{
    min-height: 80vh;
    position: relative;
}

.footer{
    display: flex;
    gap: 13px;
    font-size: 10px;
    position: absolute;
    bottom: 0;
}
.footer a{
    color: gray;
}

.right{
    margin: 16px 0;
    position: relative;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: #343434;
}
.header >*{
    padding: 15px;
}
.spotifyPlaylist{
    padding: 16px;
}
.cardcontainer{
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    overflow-y: scroll;
    max-height: 70vh;

}
.card{
    width: 200px;
    background-color: #252525;
    padding: 10px;
    border-radius: 5px;
    position: relative;
}
.card *{
    padding-top: 10px;
    
}
.card img{
    width: 100%;
    object-fit: contain;
}
.play{
    position: absolute;
    right:16px;
    bottom: 89px;
    opacity: 0;
    transition: all 1s ease-out;
    top: 150px;
}
.buttons > *{
    margin: 0 12px;
}
.signupbtn{
    background-color:#343434;;
    color: rgb(156, 148, 148);
    font-weight: bold;
    outline: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
.signupbtn:hover{
    font-size: 17px;
    color: white;
}
.loginbtn{
    background-color: white;
    color: black;
    border-radius: 21px;
    width: 79px ;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
}
.loginbtn:hover{
    font-weight: bold; 
}
.playbar{
    position: absolute;
    bottom: 0;
    background-color: green;
    width: 100%;
    padding: 10px;
}
.songbtn{
    display: flex;
    justify-content: center;
    gap: 12px;
    
}